%h1 Listing exercises

#exercise_table
  = render 'exercise_table'

%br

= link_to 'New Exercise', new_exercise_path, :class => "large button", :remote => true, :data => {"reveal-id" => "new_exercise"}
#new_exercise.reveal-modal
